@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1f24;
    margin: 0;
    padding: 0;
    color: white;
}

.header-wrapper {
    background-image: linear-gradient(0deg, #1b1f24, #3ab8602d);
    background-size: cover;
    margin: 0;
    padding: 20px;
}

nav .list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

nav .list a {

    color: white;
    font-size: 1.5em;
    padding: 0.5rem;
    border-radius: 6px;
    text-decoration: none;
}

.profile {
    text-align: center;
    padding: 20px;
}

.profile-pic {
    width: 25%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.intro-name {
    font-size: 3em;
    margin: 0;
}

.intro-job {
    text-align: center;
    font-size: 3em;
    background-image: linear-gradient(45deg, #00ff55, #0040ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.intro-hook {   
    font-size: 2em;
    color: white;
}

.projects-wrapper {
    padding: 20px;
}

.projects-title {
  text-align: center;
  font-size: 5em;
  margin-top: 2rem;
  background-image: linear-gradient(45deg, #00ff55, #0040ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background: #ffffff05;
    border: 1px solid black;
    border-radius: 10px;
    filter: drop-shadow(0px 30px 20px rgba(0, 0, 0, 0.336));
    margin: 20px;
    flex: 1 1 calc(33.333% - 40px); /* Adjust to make sure three cards fit in a row */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    text-align: center;
    transition: transform 0.2s;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 20vh; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the specified height and width */
}

.card h2 {
    font-size: 1.5em;
    margin: 15px 0;
}
.card ul{
    text-align: left;
}

.card p {
    padding: 0 15px 15px;
    font-size: 1em;
}

.languages {
    font-size: 0.9em;
    color: green !important; /* Apply !important to ensure this style takes precedence */
    font-style: italic;
}

.card:hover {
    transform: scale(1.01);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.skills-wrapper {
    padding: 20px;
}

.skills-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #ffffff;
    color: #333333;
}

.outline-button {
    background-color: transparent;
    color: #ffffff;
}

.outline-button:hover {
    background-color: #ffffff;
    color: #333333;
}
.skills-section {
    padding: 3em;
    max-width: 70vw;
    margin: 0 auto;
  }
  
  .skills-section h2 {
    font-size: 3em;
    padding-bottom: 1em;
    text-align: center;
    color: white;
  }
  
  .lang {
    margin-top: 20rem;
    background-image: linear-gradient(45deg, #00ff55, #0040ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
  }
  
  .tech {
    background-image: linear-gradient(45deg, #00ff8c, #ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 5rem;
  }
  
  .skill {
    max-width: 7.5rem;
    height: 7.5rem;
    background-color: #24292f;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 6px;
    filter: drop-shadow(0px 30px 20px rgba(0, 0, 0, 0.336));
  }
.skill:hover {
    transform: scale(1.02);
}
  
  .skill::after {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  .skill img {
    object-fit: contain;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    max-height: auto;
    height: 6rem;
    width: 6rem;
  }
  
  .skill p {
    text-align: center;
    margin-top: 0.5rem;
    color: white;
  }
  .accordion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;
    transition: 0.4s;
    background-image: linear-gradient(45deg, #00ff55, #0040ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .panel {
    padding: 0 18px;
    background-color: #24292f;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: white;
}

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 15px;
    color: white !important;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: white !important;
  }
  .slide {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    color: white;
}
.content {
  text-align: center;
  max-width: 100%;
}
.project-pic {
  width: 100%;
  height: auto;
  display: flex;

}
